.bg-emerald-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 57%;
  height: 100%;
  background-color: #c5f5e2;
  box-shadow: 0 0 10px rgba(161, 124, 124, 0.5);
  z-index: -1;
}

@media screen and (max-width: 767px) {
  .bg-emerald-overlay {
    width: 100%;
    height: 100%;
    background-color: white;
  }
}
